<div class="bg-light dark:bg-darkmode-light rounded p-8 text-center">
  {{ $avatar := "/images/avatar.png" }}
  {{ if .Params.image }}
    {{ $avatar = .Params.image }}
  {{ else if .Params.email }}
    {{ $avatar = printf "https://www.gravatar.com/avatar/%s?s=120&d=identicon" (md5 .Params.email) }}
  {{ end }}
  {{ partial "image" (dict "Src" $avatar "Context" .Page "Alt" .Title "Class" "mx-auto mb-6 rounded" "size" "120x120") }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ if .Params.names }}
        {{ $lang := site.Language.Lang }}
        {{ index .Params.names $lang | default .Title }}
      {{ else }}
        {{ .Title }}
      {{ end }}
    </a>
  </h4>
  <p class="mb-4">
    {{ .Summary | plainify }}
  </p>
  <ul class="social-icons">
    {{ range .Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
